@model CompanyPortal.Models.TblUrgencyLevel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblUrgencyLevel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrgencyLevelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrgencyLevelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrgencyOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrgencyOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UrgencyLevelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
