<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
@model CompanyPortal.Models.ViewModels.EmployeeExperienceViewModel

<style>
    .container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

        .container div {
            flex: 1;
            margin-right: 35px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

           

        .container h2 {
            margin-bottom: 20px;
            color: #333;
        }

        .container p {
            margin-bottom: 10px;
            color: #666;
        }

        .container h2 i {
            font-size: 0.8em;
            margin-right: 10px;
        }

        .container p i {
            font-size: 0.8em;
            margin-right: 5px;
        }

    .contact-container {
        min-width: 200px; /* Minimum width of the container */
        max-width: 600px; /* Maximum width of the container */
        width: auto; /* Width of the container will adjust based on the content */
    }
</style>

<div1 class="container">
    <div>
        <h2><i class="fas fa-address-book"></i>Contacts</h2>
        @foreach (var contact in Model.Contacts)
        {
            <div class="contact-container">
                <p><i class="fas fa-user"></i>@contact.Name</p>
                <p><i class="fas fa-envelope"></i>@contact.Email</p>
                <p><i class="fas fa-phone"></i>@contact.Phone</p>
            </div>
        }
    </div>

    <div>
        <h2><i class="fas fa-file-alt"></i>Documents</h2>
        @foreach (var document in Model.Documents)
        {
            <div class="contact-container">
                <p>
                    <i class="far fa-circle"></i>
                    @if (document.DocumentAlias != "0")
                    {
                        <a href="@Url.Content("~"+document.DocumentAlias)" download>@document.DocumentName</a>
                    }
                    else
                    {
                        <a href="@document.DocumentAliasLink" target="_blank" download>@document.DocumentName</a>
                    }
                </p>
            </div>
        }
    </div>

    <div>
        <h2><i class="fas fa-link"></i>Quick Links</h2>
        @foreach (var link in Model.Links)
        {
            <div class="contact-container">
                <p><span><i class="far fa-circle"></i><a href="@link.Url" target="_blank">@link.Title</a><span></p>
            </div>
        }
    </div>
</div1>