@model IEnumerable<CompanyPortal.Models.TblUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.CompanyId)</th>
            <th>Company Name</th>
            <th>Group Id</th>
            <th>Group Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.CompanyId)</td>
                <td>@Html.DisplayFor(modelItem => item.Company.CompanyName)</td>
                <td>@Html.DisplayFor(modelItem => item.UserGroupMapping.FirstOrDefault().UserGroup.GroupId)</td>
                <td>@Html.DisplayFor(modelItem => item.UserGroupMapping.FirstOrDefault().UserGroup.GroupName)</td>
            <td>
                <a asp-action="Assign" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</div>